@using WebSupervisor.Code.Classes
@using WebSupervisor.Models
@model IPagedList<ConfirmModel>
<div class="row">
    <div class="col-lg-3 col-sm-5 col-xs-12">
        <button class="button green" data-toggle="modal" data-target=".bs-example-modal-lg">
            添加
        </button>
        <button href="#" class="button orange" onclick="edite1();">修改</button>
        <button class="button blue"  id="btnsurearrage">确认安排</button>
    </div>
    <div class="col-lg-6 col-sm-3 col-xs-0">
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="输入你想搜索的信息">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    搜索
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<div id="editable1">
    <p>
    </p>
    <table id="Home_ConfirmTemp" class="table table-condensed table-hover table-responsive ove">
        <tr bgcolor="f5f5f5">
            <th width=2%>
                <input id="checkall" type="checkbox" name="checkall">
            </th>
            <th><p>课程</p></th>
            <th><p>授课内容</p></th>
            <th><p>授课方式</p></th>
            <th><p>专业</p></th>
            <th><p>教室</p></th>
            <th><p>教师</p></th>
            <th><p>周次</p></th>
            <th><p>听课时间</p></th>
            <th><p>人员安排</p></th>
        </tr>
        @{
            Common com = new Common();
            com.xmlRead(ViewBag.path);
            for (int i = 0; i < Model.PageSize; i++)
            {
                if (i < Model.Count)
                {
                    var item = Model[i];
                    var checkname = item.Cid + item.Week.ToString()+ item.Day.ToString() + item.ClassNumber.ToString();
                    int nowday = item.Day;
                    int nowWeeks = item.Week;
                    string time = CalendarTools.getdata(Common.Year, nowWeeks, nowday - CalendarTools.weekdays(CalendarTools.CaculateWeekDay(Common.Year, Common.Month, Common.Day)), Common.Month, Common.Day).ToLongDateString() + "" + com.AddSeparator(item.ClassNumber)+"节";
                    <tr>
                        <td width=2%>
                            <input type="hidden" name="idname" value="Cid">
                            <input type="hidden" name="id" value="@item.Cid">
                            <input type="checkbox"  id="checktemparrage" value="@checkname">
                        </td>
                        <td>@item.ClassName</td>
                        <td>@item.ClassContent</td>
                        <td>@item.ClassType</td>
                        <td>@item.Major</td>
                        <td>@item.Address</td>
                        <td>@item.TeacherName</td>
                        <td>@item.Week</td>
                        <td>@time</td>
                        <td>@item.SuperVisors</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>
<!--添加弹窗-->
@RenderPage("~/Views/Shared/_ArrageAdd.cshtml")
<!-- /.table -->
<!-- /.table -->
<div class="pager" style="text-align: center;">

    <span style="height: 10px; line-height: 10px;">共 @Model.TotalItemCount.ToString() 条记录，当前第 @Model.PageNumber 页/共 @Model.PageCount 页 </span>
    @Html.PagedListPager(
    Model,
    page => Url.Action("ConfirmTemp", "Home", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "首页",
        LinkToNextPageFormat = "下一页",
        LinkToPreviousPageFormat = "上一页",
        LinkToLastPageFormat = "末页",
        DisplayItemSliceAndTotal = false,
        MaximumPageNumbersToDisplay = 10,
        DisplayLinkToIndividualPages = true
    }, new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Home_ConfirmTemp"
    }))
</div>
<script>
    ////临时表按钮 保存
    //function save() {
    //    var array = new Array()
    //    $("input[id='checktemparrage']:checked").each(function () {
    //        array.push($(this).val())
    //    });
    //    $.post("/Home/SureArrage", { pids: array },
    //        function (data) {
    //            if (data.code == 0) {
    //                swal({
    //                    title: "已经成功确认",//放js显示乱码 所以放这里
    //                    timer: 1500,
    //                    showConfirmButton: false,
    //                    type: "success"
    //                }); curhref.replacetag({ url: "/Home/ConfirmTemp", tag: "#tab1" });
    //            }
    //            else {
    //                swal({
    //                    title: "确认安排失败",//放js显示乱码 所以放这里
    //                    timer: 1500,
    //                    showConfirmButton: false,
    //                    type: "error"
    //                });
    //            }
    //        });
    //    document.getElementById("editable1").contentEditable = "false";
    //};onclick="save();"
    //$("#Home_ConfirmTemp").mouseover(function () { $("#showDiv").show(); })
</script>