
@using WebSupervisor.Code.Classes
@using WebSupervisor.Models
@model IPagedList<ConfirmModel>
<div class="row">
    <div class="col-lg-5 col-sm-12 col-xs-12">
        <a href="#" class="button orange" data-toggle="modal" data-target=".bs-example-modal-lg" id="modifyarrage">
            修改
        </a>
        <button type="button" class="button red" name="btntddelete" formaction="/Home/DeleteArrage" formmethod="post">
            删除
        </button>
        <a href="#" class="button blue" id="sendarrage">
            发送安排
        </a>
        <a href="#" class="button green" onclick="sendResult();">
            发送结果
        </a>
        <a  href="#" class="button orange" id="exportarrage">
            导出Excel
        </a>
    </div>
</div>
<div>
    <!-- /table开始 -->
    <div id="editable2">
        <p></p>
        <form action="" method="post">
            <table id="Home_ConfirmSure" class="table table-condensed table-hover table-responsive ove">
                <tr bgcolor="#f5f5f5">
                    <th width=2%>

                        <input id="checkall" type="checkbox" name="checkall">

                    </th>
                    <th>
                        <p>
                            课程
                        </p>
                    </th>
                    <th>
                        <p>
                            授课内容
                        </p>
                    </th>
                    <th>
                        <p>
                            授课方式
                        </p>
                    </th>
                    <th>
                        <p>
                            专业
                        </p>
                    </th>
                    <th>
                        <p>
                            教室
                        </p>
                    </th>
                    <th>
                        <p>
                            教师
                        </p>
                    </th>
                    <th>
                        <p>
                            周次
                        </p>
                    </th>
                    <th>
                        <p>
                            听课时间
                        </p>
                    </th>
                    <th>
                        <p>
                            人员安排
                        </p>
                    </th>
                    <th>
                        <p>
                            分数
                        </p>
                    </th>
                </tr>
                @{
                    Common com = new Common();
                    com.xmlRead(ViewBag.path);
                    for (int i = 0; i < Model.PageSize; i++)
                    {
                        if (i < Model.Count)
                        {
                            var item = Model[i];
                            string checkname = item.Cid + item.Week + item.Day + item.ClassNumber.ToString();
                            int nowday = item.Day;
                            int nowWeeks = item.Week;
                            string time = CalendarTools.getdata(Common.Year, nowWeeks, nowday - CalendarTools.weekdays(CalendarTools.CaculateWeekDay(Common.Year, Common.Month, Common.Day)), Common.Month, Common.Day).ToLongDateString() + "" + com.AddSeparator(item.ClassNumber)+"节";
                            <tr id="@checkname">
                                <td width=2%>
                                    <input type="hidden" name="idname" value="Cid">
                                    <input type="hidden" name="id" value="@item.Cid">
                                    <input type="checkbox" name="@item.Cid" value="@checkname" id="checkconfirmsure">
                                </td>
                                <td>
                                    @item.ClassName
                                </td>
                                <td>
                                    @item.ClassContent
                                </td>
                                <td>
                                    @item.ClassType
                                </td>
                                <td>
                                    @item.Major
                                </td>
                                <td>
                                    @item.Address
                                </td>
                                <td>
                                    @item.TeacherName
                                </td>
                                <td>
                                    @item.Week
                                </td>
                                <td>
                                    @time
                                </td>
                                <td>
                                    @item.SuperVisors
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        }
                    }
                }
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!-- /.table -->
<div class="pager" style="text-align: center;">

    <span style="height: 10px; line-height: 10px;">共 @Model.TotalItemCount.ToString() 条记录，当前第 @Model.PageNumber 页/共 @Model.PageCount 页 </span>
    @Html.PagedListPager(
 Model,
 page => Url.Action("ConfirmTemp", "Home", new { page }),
 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
 {
     LinkToFirstPageFormat = "首页",
     LinkToNextPageFormat = "下一页",
     LinkToPreviousPageFormat = "上一页",
     LinkToLastPageFormat = "末页",
     DisplayItemSliceAndTotal = false,
     MaximumPageNumbersToDisplay = 10,
     DisplayLinkToIndividualPages = true
 }, new AjaxOptions()
 {
     HttpMethod = "GET",
     InsertionMode = InsertionMode.Replace,
     UpdateTargetId = "classtable"
 }))
</div>