@using WebSupervisor.Models
@model PagedList<TeachersModel>
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-lg-5 col-sm-12 col-xs-12">
        <button id="upload" type="button" class="button blue" ></button>
        <button type="button" class="button green" onClick="$('#addtr').show()">
            添加
        </button>
        <button type="button" name="btntddelete" class="button red" formaction="/Supervisor/DeleteTeacher" formmethod="post">
            删除
        </button>
        <button type="button" class="button orange" onclick="edite3()" ;>
            修改
        </button>
        <button type="button" class="button blue" onclick="tsave()" ;>
            保存
        </button>
    </div>
</div>
<!-- /.row -->
<div id="editable3">
    <p>
    </p>
    <form id="formAddTeacher" action="/Home/AddTeacher" method="post">

        <table class="table table-condensed table-hover table-responsive ove" id="teachertable">


            <tr bgcolor="#f5f5f5">
                <th width=2%>

                    <input type="checkbox" name="checkall">

                </th>
                <th>
                    <p>
                        教师号
                    </p>
                </th>
                <th>
                    <p>
                        教师姓名
                    </p>
                </th>
                <th>
                    <p>
                        职称
                    </p>
                </th>
                <th>
                    <p>
                        教研室
                    </p>
                </th>
                <th>
                    <p>
                        联系电话
                    </p>
                </th>
                <th>
                    <p>
                        邮箱
                    </p>
                </th>
                <th>
                    <p>
                        是否督导
                    </p>
                </th>
                <th>
                    <p>
                       操作
                    </p>
                </th>
                <th>
                    <p>
                        审核状态
                    </p>
                </th>
            </tr>
            <tr id="addtr" style="display:none">
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="text" id="teacherNo" name="teacherNo" />
                </td>
                <td>
                    <input type="text" id="teacherName" name="teacherName" />
                </td>
                <td>
                    <input type="text" id="teacherTitle" name="teacherTitle" />
                </td>
                <td>
                    <input type="text" id="teacherRoom" name="teacherRoom" />
                </td>
                <td>
                    <input type="text" id="teacherTel" name="teacherTel" />
                </td>
                <td>
                    <input type="text" id="teacherEmail" name="teacherEmail" />
                </td>
                <td>
                    <input type="checkbox" name="checkall">
                </td>
                <td>
                    <input type="button" id="btnsubmit" value="添加" class="teacherbtn blue" />
                    <input type="button" id="btncancel" value="取消" class="teacherbtn red" onclick="$('addtr').hide()" />
                </td>
            </tr>
            @{

                for (int i = 0; i < Model.PageSize; i++)
                {
                    if (i < Model.Count)
                    {


                        TeachersModel item = Model[i];
                        string identify = "";
                        string islimit = "";
                        if (item.Indentify == 0)
                        {
                            identify = "否";
                        }
                        else
                        {
                            identify = "是";
                        }
                        if (item.Islimit == 0)
                        {
                            islimit = "未审核";
                        }
                        else
                        {
                            islimit = "已审核";
                        }
                        <tr>
                            <td width=2%>

                                <input type="checkbox" name="tdcbid" value=@item.Tid>

                            </td>
                            <td>
                                @item.Tid
                            </td>
                            <td>
                                @item.TeacherName
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.TeacherRoom
                            </td>
                            <td>
                                @item.Phone
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>

                                @identify

                            </td>
                            <td>
                                @islimit
                            </td>

                            <td>
                                <input type="button" value="修改"  class="btnmodify teacherbtn blue"  />
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td width=2%>
                                &nbsp;

                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>

                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>

                        </tr>
                    }
                }
            }
        </table>
        <input type="hidden" id="islimit" value=1 name="islimit" />
        <input type="hidden" id="college" value=@Session[ "College"] name="college" />
    </form>


    <div class="pager" style="text-align: center;">


        <span style="height: 5px; line-height: 5px;">共 @Model.TotalItemCount.ToString() 条记录，当前第 @Model.PageNumber 页/共 @Model.PageCount 页 </span>

        @Html.PagedListPager(Model, page => Url.Action("TeacherList", "Home", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "首页",
        LinkToNextPageFormat = "下一页",
        LinkToPreviousPageFormat = "上一页",
        LinkToLastPageFormat = "末页",
        DisplayItemSliceAndTotal = false,
        MaximumPageNumbersToDisplay = 10,
        DisplayLinkToIndividualPages = true
    }, new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "teachertable"
    }

     ))
    </div>

</div>
<!-- /.table -->
<script src="~/js/jquery.Huploadify.js"></script>
<script>
    $(function () {
        var up = $('#upload').Huploadify({
            requeueErrors: true,
            queueSizeLimit: 5,
            auto: true,
            fileTypeExts: '*.xls;*.xlsx;',
            multi: true,
            breakPoints: false,
            saveInfoLocal: true,
            showUploadedSize: true,
            removeTimeout: 20,
            uploader: '/Home/InputTeacher',
            fileObjName: 'Filedata',
            onUploadSuccess: function (state) {
            },
            onUploadComplete: function () {
                curhref.replacetag({url:"/Home/TeacherList",tag:"#tab1"});
            }
        })
    });
</script>
